<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">
            <h1>Pokedex</h1>
        </a>
        <a href="/cadastro"><h2>Cadastrar</h2></a>
    </header>
    <% if(mensagem != "") {  %>
        <section id="mensagem">
            <p><%= mensagem %></p> <span id="close">&times;</span>
        </section>
    <% }  %>
    <div class="container"></div>
        <ul id="conteudo">
            <% pokedex.forEach(item => { %>
                <section class="child">
                    <a href="/detalhes/<%= pokedex.indexOf(item) %>">
                    <img src="<%= item.Imagem %>" alt="imagem do Pokemon">
                    <li><%= item.Nome %></li>
                    <li><%= item.Tipo %></li>
                    </a>
                </section>
            <% }) %> 
            
        </ul>
    </div>
    <script src="script.js"></script>
</body>
</html>